$orange    			:  #d76c3e;
$blue    			:  #2a8da0;
$yellow   			:  #f0c500;
$purple    			:  #8a42b3;
$turquoise 			:  #33c69c;

$header-color  		:  #1b2020;
$header-color-light	:  #425454;
$alpha-color 		:  $header-color;
$beta-color  		:  $header-color-light;
$ceta-color  		:  #303c3c;
$delta-color 		:  #e24e35;
$gamma-color 		:  #d8d8d8;




$background-color 	:  darken(white,4%);
$background-color-invert : lighten(black,10%);
$text-color 	    :  lighten(black,20%);
$text-color-invert  :  darken(white,5%);

$mobile-gutter   	:  10px;

$body-family        :  'SourceSansProLight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-family-bold   :  'SourceSansProSemibold', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-family     :  'SourceSansProLight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$symbol-family    	:  'FontAwesome', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$subheading-bold    :  $body-family-bold;

$total-columns: 4;
$column-width: 4.75em;
$gutter-width: 1.25em;
$grid-padding: $gutter-width/2;

$landscape			: 30em 6;
$smalltablet		: 48em 8;
$tablet         	: 48em 64em 12;
$desktop     		: 64em 78em 12;
$bigdesktop        	: 78em 12;



%horizontal-list {
	list-style: none;

	li {
		float: left;
	}
}

%left {
	float: left;
}

%right {
	float: right;
}

%header-text-layout {
	font-size: .75em;
	color: darken($text-color-invert,20%);
	letter-spacing: 1pt;
}

