.og-grid {
	list-style: none;
	@include container($total-columns, $landscape, $smalltablet, $tablet, $desktop, $bigdesktop);
	padding: 0 0.625em;

	@include at-breakpoint($smalltablet) {
		padding: 0 0.625em;
	}

	@include at-breakpoint($bigdesktop) {
		padding: 0;
		max-width: 72em;
	}


}

.og-grid li {
	margin: 0 0 10px;
	vertical-align: top;
	width: 100%;

	@include at-breakpoint($smalltablet) {
		margin: 0  2% 20px 0;
		width: 31.5%;

		&:nth-child(2n) {
			margin: 0  2% 20px 0;
		}

		&:nth-child(3n) {
			margin-right: 0;
		}
	}

	@include at-breakpoint($bigdesktop) {
		margin: 0  20px 20px 0;
		width: 23.4%;

		&:nth-child(2n) {
			margin: 0  20px 20px 0;
		}

		&:nth-child(3n) {
			margin: 0  20px 20px 0;
		}

		&:nth-child(4n) {
			margin-right: 0;
		}
	}
}

.thumb-data {
	position: relative;
	text-align: left;
	top: -15px;
	font-size: .875em;
	background: $pop-color;
	@include border-radius(0 0 3px 3px);
	padding: 10px .625em 15px;
	@include drop-shadow($dark-pop-color);
	line-height: 1em;
}

.thumb-data > span {
	font-family: $body-family-bold;
}

.thumb-meta {
	padding: 10px 0 0;
	border-top: 1px solid $dark-pop-color;
	color: darken($dark-pop-color,5%);
	margin-top: 10px;
}

.og-grid li > a  {
	padding: .625em;
	background: $pop-color;
	display: block;
	position: relative;
	outline: none;
	@include border-radius(3px 3px 0 0);

	&:hover {
		border: none;
	}
}

.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li.og-expanded {
	margin-bottom: 3.5em !important;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: lighten($background-color,3%);
	border-width: 15px;
	left: 50%;
	margin: 50px 0 0 -15px;
	z-index: 99;
}

.og-expander {
	position: absolute;
	background: lighten($background-color,3%);
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 20px;
	text-align: left;
	height: 0;
	overflow: hidden;
	margin-bottom: 1em;
	border-bottom: 1px solid darken(white,6%);
	border-top: 1px solid darken(white,6%);
	@include box-shadow(0 0 5px rgba(black, .15) inset);
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: $background-color;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: $background-color;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	max-height: 98%;
	max-width: 100%;
	padding: .625em;
	margin-top: 5px;
	background: white;
	@include box-shadow(0 0 5px rgba(black, .2));
	display: none;

	@include at-breakpoint($smalltablet) {
		display: inline-block;
	}
}

.og-details h3 {
	font-size: 2.25em;
	@include inline-block;
	padding: 0 1em .21em 0;
	margin-bottom: 10px;
	color: $text-color;
	letter-spacing: 2pt;

	&:hover {
		color: $alpha-color;
	}
}

.og-details p {
	color: $text-color;
	line-height: .25em;
	letter-spacing: 1pt;
	font-family: $body-family;
	font-weight: normal;

	a {
		margin: 0;
		display: inline;
		text-decoration: underline;
		text-transform: none;
	}
}

.og-details a {
	color: $text-color;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: inline-block;
	outline: none;
	margin-bottom: 2em;
}

.og-details a:hover {
	border: none;
	color: #999;
}

.detail-title {
	span {
		position: relative;
		letter-spacing: 0;

		&:before {
			content: '(';
			position: absolute;
			top: -.25em;
			left: -8px;
		}

		&:after {
			content: ')';
			position: absolute;
			top: -.25em;
			right: -8px;
		}
	}
}


.box-heart {
	position: absolute;
	right: 45px;
	margin-top: -3.85em;
	width: 40px;
	font-size: .75em;
	padding-right: 5px;
	text-align: right;
	display: none;

	i {
		margin-right: 3px;
		color: inherit;
	}

	@include at-breakpoint($smalltablet) {
		margin-top: -1.25em;
	}

	@include at-breakpoint($landscape) {
		display: block;
	}

}

.box-comment {
	@extend .box-heart;
	right: .625em;

	i {
		color: inherit;
	}

}

.button-box {
	margin-top: 3em;

}

.button {
	background: $alpha-color;
	padding: .75em 1em;
	color: white;
	border: none;
	outline: none;
	@include border-radius(2px);
	margin-right: 1em;
	letter-spacing: 1pt;


	i {
		margin-right: 5px;
	}

	&:hover {
		background: $beta-color;
	}
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }

}


.sidr {
	display:none;
	position:absolute;
	position:fixed;
	top:0;
	height:100%;
	z-index:999999;
	width:200px;
	overflow-x:none;
	overflow-y:auto;
	background: #7b7b7b;

	&:after {
		position: absolute;
		content: '';
		width: 5px;
		height: 100%;
		top:0;
		left: 0;
		background: #555555;
	}

	ul {
		list-style: none;
	}

	a {
		color: white;
		display: block;
		width: 100%;
		height: 100%;
		padding: 10px 20px;
		border-bottom: 1px solid lighten(#7b7b7b,5%);

		&:hover {
			background: darken(#7b7b7b,5%);
		}
	}
}

.sidr .sidr-inner{
	padding:0 0 15px
}

.sidr .sidr-inner>p {
	margin-left:15px;margin-right:15px }

.sidr.right {
	left:auto;
	right:-200px }

.sidr.left{
	left:-200px;
	right:auto;
	text-align: center;}


/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


.mix {
	display: none;
}

