@import "compass/css3";
@import "susy";
@import "media-queries";
@import "fonts";
@import "bits";
@import "type";





@include border-box-sizing;


.wrapper {
	@include susy-grid-background; }

html {
	background: $header-color;
	height: 100%;
}

body {
	background: $background-color;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0;
}

.main-header {
	@include container($total-columns, $landscape, $smalltablet, $tablet, $desktop, $bigdesktop);
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
	max-width: 100%;

	@include at-breakpoint($landscape) {
		padding: 0;
		width: 100%;
		max-width: 100%;
	}

	@include at-breakpoint($smalltablet) {
		padding: 0 0.625em;
		max-width: 72em;
	}
	@include at-breakpoint($bigdesktop) {
		padding: 0;
		max-width: 72em;
	}
}

.full {
	width: 100%;
	height: auto;
}

.head {
	background-color: $header-color;
	height: auto;
	max-height: 40px;
	border-bottom: 1px solid lighten($header-color,5%);
	position: relative;
	z-index: 999;
	overflow: hidden;

	&.ausgeklappt {
		max-height: 121px !important;
		@include transition(height .2 linear);
	}
}

.logo {
	line-height: 50px;
	width: auto;
	@extend %left;
	margin-left: 1.35em;
	height: 40px;

	@include at-breakpoint($smalltablet) {
		margin-left: .625em;
	}

	@include at-breakpoint($smalltablet) {
		width: 40%;
		margin-left: 0;
	}

	img {
		max-width: 110px !important;
		padding-right: 20px;
		display: inline;
	}

	p {
		@extend %header-text-layout;
		display: none;

		@include at-breakpoint($smalltablet) {
			display: inline;
		}
	}
}

.mobile-menu {
	width: 120px;
	height: 40px;
	float: right;

	a {
		color: white;
		@include inline-block;
		width: 31%;
		text-align: center;
		line-height: 40px;
		border-left: 1px solid lighten($header-color, 10%);

		&:hover {
			background: lighten($header-color,5%);
		}
	}


	@include at-breakpoint($smalltablet) {
		display: none;
	}
}

.top-menu {
	float: none;
	line-height: 50px;
	width: 100%;
	overflow: hidden;

	@include at-breakpoint($smalltablet) {
		width: auto;
		float: right;

		li {
			padding: 0;
			float: left !important;
			width: auto !important;
			background: transparent !important;
			border-left: 1px solid lighten($header-color, 10%) !important;
			border-bottom: none;
		}
	}

	ul {
		@extend %horizontal-list;
	}

	i {
		&:hover {
			cursor: pointer;
		}
	}

	li {
		color: white;
		border-left: none;
		border-bottom: 1px solid lighten($header-color, 10%);
		line-height: 40px;
		float: none;
		width: 100%;
		background: black;

		a {
			color: white;
			font-size: .75em;
			display: block;
			width: 100%;
			height: 100%;
			padding: 0 20px;
			text-align: center;

			&:hover {
				background: lighten($header-color,5%);
			}

			i {
				margin-right: 3px;
			}
		}

		&:last-child {
			border-right: 1px solid lighten($header-color, 10%);
			border-bottom: none !important;


			a {
				padding: 0 5px;
			}

			i {
				line-height: 40px;
				display: block;
				text-align: center;
				font-size: 1.333em;
			}
		}
	}

	input[type="search"] {
		border: none;
		outline: none;
		background: $pop-color;
		width: 170px;
		height: 20px;
		@include border-radius(2px);
		font-size: .75em;
		text-indent: 5px;
		margin: 0 21px;
	}

	.search-link {
		border: none;
		outline: none;
		width: 24px;
		height: 19px;
		margin-left: -27px;
		margin-right: 22px;
		background: $background-color;
		@include border-radius(2px);
		position: relative;
		top: 5px;
		font-family: $symbol-family;
		@include button-shadow($dark-pop-color);
		display: inline-block;
		padding: 0;

		&:hover {
			background: darken($background-color,5%);
		}

		i {
			position: relative;
			top: -10px;
			left: 4px;
			color: darken($dark-pop-color,20%);
		}
	}
}

.filter-bar {
	margin-bottom: 0;
	margin-top: -20px;
	@include at-breakpoint($smalltablet) {
		margin-top: 0;
		margin-bottom: 2em;
	}

}

.filter-nav {
	@include container($total-columns, $landscape, $smalltablet, $tablet, $desktop, $bigdesktop);
	height: 70px;
	padding: 0;
	position: relative;
	width: 100%;
	max-width: 100%;

	@include at-breakpoint($landscape) {
		padding: 0;
		width: 100%;
		max-width: 100%;
	}

	@include at-breakpoint($smalltablet) {
		padding: 0 0.625em;
		max-width: 72em;
	}

	@include at-breakpoint($bigdesktop) {
		padding: 0;
		max-width: 72em;
	}


	ul {
		@extend %horizontal-list;
		background: $pop-color;
		@include border-radius(2px);
		@include box-shadow(0 3px 0 $dark-pop-color);
		width: 100%;
		overflow: hidden;
		height: 40px;
		margin: 0;
		padding: 0;

	}

	li {
		width: 12.5%;
		text-align: center;

		&:hover {
			background: rgba(0,0,0,0.05);
		}

		a {
			line-height: 40px;
			font-family: $body-family-regular;
			font-size: .875em;
			font-weight: normal;
			color: lighten(black, 50%);
			display: block;
			width: 100%;
			height: 100%;

			&:hover {
				font-family: $body-family-bold;
				color: lighten(black, 20%);
				@include transform(translateY(-1px));
			}
		}

		&.active {
			a {
				font-family: $body-family-bold;
				color: lighten(black, 20%);
				@include transform(translateY(-1px));
			}
		}


	}



	.klapp-toggle {
		position: absolute;
		right: 0;
		top: -40px;
		width: 35px;
		height: 35px;
		text-align: center;
		line-height: 35px;
		z-index: 99999;
		color: white;
		background: $header-color;
		border: 1px solid lighten($header-color, 10%);
		@include border-radius(3px);
		display: none;

		@include at-breakpoint($smalltablet) {
			display: block;
		}

		&.hide {
			display: none;
		}

		&:hover {
			background: lighten($header-color,5%);
		}
	}

}


#filter-nav {
	display: none;

	@include at-breakpoint($smalltablet) {
		display: block;
	}

}



.year-select {
	padding-top: 24px;
	@include span-columns(6,12);
	display: none;

	@include at-breakpoint($smalltablet) {
		display: table;
	}
}

.trends-select {
	@include span-columns(3 omega,12);
	margin-top: 24px;
	position: relative;
	height: 40px;
	margin-right: 2px;
	display: none;

	@include at-breakpoint($smalltablet) {
		display: block;
	}

}

.trends-list {
	display: block;
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	font-size: .875em;
	-webkit-appearance: none;
	line-height: 40px;
	padding: 0 15px;
	z-index: 9998;
	position: relative;
	@include drop-shadow-inset($dark-pop-color);

	a {
		text-align: left;
		padding-left: 20px;
	}


	li {
		float: none !important;
		width: 100%;
		}
}

ul.trends-list.ausgeklappt {
	height: auto !important;
}

.trends-list-toggle {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9999;
	width: 25px;
	height: 25px;
	margin: 5px;
	@include drop-shadow($dark-pop-color);
	display: block;
	text-align: center;
	background: darken($pop-color,3%);
	line-height: 30px;
	@include border-radius(3px);

	i {
		color: $dark-pop-color;
	}
}

.mobile-toggle {
	background: white;
	width: 50%;
	display: block;
	float: left;
	padding: 10px;
	text-align: center;
	@include button-shadow($dark-pop-color);

	&:hover {
		background: darken(white,2%)
	}

	@include at-breakpoint($smalltablet) {
		display: none;
	}
}

.year-toggle {
	border-right: 1px solid $dark-pop-color;
	i {
		margin-right: 5px;
		position: relative;
		bottom: -1px;
	}
}

.trend-toggle {

	i {
		margin-left: 5px;
		position: relative;
		bottom: -1px;
	}
}


.foot {
	background: $header-color;
	min-height: 8em;
}

.main-footer {
	@include container($total-columns, $landscape, $smalltablet, $tablet, $desktop, $bigdesktop);
	padding: 2em 0;
}

.footer-row1 {
	padding: 0 20px;

	ul {
		@extend %horizontal-list;
		margin: 0;
		padding: 0;
		@include span-columns(6,12);

		li {
				padding-left: 1em;
				line-height: 3em;
				color: $text-color-invert;
				letter-spacing: 1pt;

				&:first-child {
					padding: 0;
				}


				a {
					color: $text-color-invert;

					&:hover {
						color: $alpha-color;
					}
				}
		}
	}

	input {
		@include span-columns(2 omega,12);
		border: none;
		outline: none;
		background: $background-color;
		padding: .25em .315em;
		width: 7em;
		@include border-radius(2px);
	}
}


@import "plugins";

.intro {
	max-height: 1371px;
	margin: 0;
	padding: 0;
	@include transition(all .2s linear);
	overflow: hidden;
	position: relative;
	top: -20px;

	@include at-breakpoint($smalltablet) {
		max-height: 358px;
	}

	&.eingeklappt {
		max-height: 0;
		@include transition(all .2s linear);
		margin-bottom: 20px;

		@include at-breakpoint($smalltablet) {
			margin-bottom: 0;
		}

	}
}

.grid-pagination {

	.pagination {
		margin: 5em auto 0;
	}
	.pagination-list {
		margin: 2em auto 4em;
	}

}

.pagination {
	margin-top: 5em;
	overflow: hidden;
}

.pagination-list {
	@extend %horizontal-list;
	margin-top: 5em;
	@extend %clearfix;
	width: 470px;

	li {
		background: white;
		@include button-shadow($dark-pop-color);
		@include border-radius;
		margin-right: 10px;

		a {
			padding: 10px 20px;
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}


@import "start";
@import "2012";
@import "glossar";
@import "profil";
@import "dashboard";

@import "footer";
@import "login";
@import "upload";
@import "animate";

